#nop 任务;
#class hsza open;
#var f1_set 0;
#var f2_set 0;

#tic {hsza} {#untic hsza;hszaa} {2};
#ali {hszaa} {
  #format time1 {%t} {%Y-%m-%d-%H:%M:%S};
  #var loc_lock 0;
  #var luck %1;
  #var bonus %2;
  set wimpy 70;
  set hansz_new_mode 1;
  #if {"$myid"=="simontuixue"} {
    #nop set adv_quest 50;
  };
  #if {"$myid"=="dalabomba"} {
    set adv_quest 50;
  };
  ask han about job;
  check_bonus;
};
#ali {hszd} {sm;ask han about finish;unset adv_quest};
#ali {hszf} {ask han about fail;#untic hsza1;hszx;unset adv_quest};
#ali {findroom} {
  #class my_gps read bot/my_gps.tt;
  locme $city %1;
};

#act {^韩世忠说道：「我听说有一群异族奸细在%*的%*附近出没%*去打探(datan)一下%*} {

  #if {$loc_lock==0} {
    #var loc_lock 1;
    #var city %1;
    #var room %2;
    #var loc $city的$room;
    #tic {hsza1} {#echo {%c%h} {light yellow} {奸细在$loc，到了datan。}} {5};
  };
};
#act {^你紧紧捏住手中的韩王兵符，令亲兵留在原地，自己单刀赴会。} {
  #delay 2 {
    special agile;
    special ironskin;
    #untic hsza1;
    wear mine;
    remove armet;
    remove belt;
    unwield all;
    #if {"$myid"=="dalabomba"} {
      unwield shield;
      wield $lun;
    }
  }
};
#alias peace {
  #var battle 0;
  #var VERBOSE 1;
  unset brief;
};
#act {^快去找韩王复命吧。} {
  peace;
};

#act {%*异族奸细 %*(%*)%*} {
  #if {$f1_set==0}{
    #var oppo @lower{%3};
    zhuanzhu $oppo;
    #var f1_set 1;
  };
  #elseif {$f2_set==0}{
    #var oppo_bm @lower{%3};
    #var oppo_dq @lower{%3};
    #var f2_set 1;
  };
};

#alias bm {
  yun beiming $oppo_bm;
};

#alias gm {
  get gem from corpse %1;
};

#act {看起来%*想杀死你} { 
  #if {$battle != 1} {
    #var battle 1;
    #if {"$myid"=="dalabomba"} {
      yun longxiang;
    };
    #elseif {"$myid"=="simontuixue"} {
      #delay 2 {bm;}
    }
  };
};

#nop #act {}{};
#action {你在攻击中不断积蓄攻势。(气势：%d%)} {
  #if {"$myid"=="simontuixue" && %1 >= 12} {
    p.lm $oppo;
  };
  #elseif {"$myid"=="jinger"} {
    p.jz ;
  };
  #elseif {"$myid"=="dalabomba" && %1 >= 18} {
    p.dq;
  }
};
#act {^%*你终于完全从紧张地战斗氛围中解脱出来。} {
  #var battle 0;
  unset brief;
  #var VERBOSE 1;
};
#act {%*死了。} {
  #var f1_set 0;
  l;
  #if {"$myid"=="simontuixue"} {
    #delay 2 {bm;}
  }
}
#alias f1 {
  #var oppo {%1};
  #var f1_set 1;
};
#alias f2 {
  #var oppo_bm {%1};
  #var oppo_dq {%1};
  #var f2_set 1;
};
#alias tx {
  kill all;
  #if {"$myid"=="simontuixue"} {
    p.lm $oppo;
  };
  #elseif {"$myid"=="dalabomba"} {
    p.dq $oppo_dq;
  }
};

#alias jl {
  #var n_oppo %0;
  #showme <afa> OK, n_oppo has been set to $n_oppo;
};
#action {^快去找韩王复命吧。} {
  wear mine;
  remove belt;
  remove armet;
  uw all;
};

#alias hszLog {
  #line log {hsz.log} {%0};
};

#alias jm {
  #var job_mod %0;
}
#act {^{┌|╭}───%*{之周|同庆}{┬─|}─────────────────────────────────{╮|┐}$} {
  #class week open;
    #act {^│%s韩世忠%s│%*。%s│$} {#var job_mod 2};
    #act {^│%*│→%*韩世忠%*%s│$} {#var job_mod  0};
    #act {^│%*│↑%*韩世忠%*%s│$} {#var job_mod  1};
    #act {^│%*│↓%*韩世忠%*%s│$} {#var job_mod -1};
    #act {^{╰|└}───────┴─────────────────────────北大侠客行────{╯|┘}$} {#class week kill};
  #class week close;
  #delay 1 {#showme <afa> bonus_mode: $job_mod;}
};
#class report open;
  #act {^%!s%*点经验；$} {
    #var exp %1;
  };
  #act {^%!s%*点潜能；$} {
    #var pot %1;
  };
  #act {^%!s%*点江湖声望。$} {
    #var fam %1;
  };
  #act {^你已经完成了%*次清除异族奸细的工作。$} {
    #var taskid %1;
    #class report kill;
  };
#class report close;

#act {^│幸运值%!s│%d%!s│奖励系数%!s│%d% %!s│识图检查%!s│%*完整奖励%*│$} { #var luck %1; #var bonus %2; };
#act {你被奖励了：} {
  #format time2 {%t} {%H:%M:%S};
  #delay 1 {
    #format record {%s;%s;%s;%d;%d;%d;%s;%s;%s;%s;%s} {$job_mod} {$loc} {$n_oppo} {@ctd{$exp}} {@ctd{$pot}} {@ctd{$fam}} {@ctd{$taskid}} {$time1} {$time2} {$luck} {$bonus};
    #showme <afa> $record;
    hszLog $record;
    #untic hsza1;hszx;
  }
};
#gag {^>%s$};
#gag {^$};

#gag {^你设定每一击用};
#gag {^你已在运用北冥神功};
#class hsza close;
