#class hza open;
#alias gy {π„““};
#alias jy {º√‘∂};
#alias qm {qimao};
#alias pm {paomao};

#alias me {movee};
#alias mw {movew};
#alias mn {moven};
#alias ms {moves};

#alias ae {aime};
#alias aw {aimw};
#alias an {aimn};
#alias as {aims};

#alias jh {jiuhuo};
#alias v {view};
#alias ld {load};
#alias f {fire};

#class hza close;
